services:
    php_bds:
        build:
            context: .
            dockerfile: Dockerfile
            target: dev
        volumes:
            - ./:/var/www/html
        restart: unless-stopped
        networks:
            - internal

    passion_bds:
        image: nginx:1.27-alpine
        depends_on:
            - php_bds
        expose:
            - "80"
        volumes:
            - ./:/var/www/html:ro
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
        restart: unless-stopped
        networks:
            - internal
            - caddy

networks:
    internal:
        driver: bridge
    caddy:
        external: true
        name: app_default
